---
title: Jak na to
---

<section id="uvod">
  <h3>Kdo jsme?</h3>
  <p>Jsme <a href="www.rr-moravskolezsko.cz">Regionální rada Moravskoslezsko</a> a zodpovídáme za uplatnění 20 miliard korun z evropských fondů v Regionálním operačním programu, které jsou určené na rozvoj Moravskoslezského kraje.</p>
  <p>Naši organizaci a financování projektů penězi z EU jsme postavili na otevřeném, průhledném a funkčním systému pro výběr, proplácení a kontrolu podpořených projektů. Postavili jsme ji na lidech, kteří naplňují vizi, strategický plán a cíle, kteří sdílejí společné principy a hodnoty. Postavili jsme ji na budování důvěry a otevřeném přístupu k partnerům a klientům.</p>
  <p>Projděte si v několika bodech hlavní věcná témata, pro které si myslíme, že to s evropskými penězi umíme dobře. </p>
</section>

