---
title: Jednoduše
class: jednoduse
---

<section id="4-jednoduse">
  <article>
    <h1>{{title}}</h1>
    <blockquote class="bigclaim">Na dotace elektronicky &ndash; méně papírování, bezchybně a přehledně</blockquote>

    <h2 class="hash">#méně papírování</h2>
    <p>Získat evropskou dotaci není jednoduché a připravit úspěšnou žádost je přitom jen začátek. Neméně obtížné je projít projektem od začátku až k&nbsp;jeho zprovoznění a&nbsp;evropskou dotaci vyúčtovat. Tím spíše, jedná-li se o&nbsp;komplikovanou stavbu nebo rekonstrukci. Nezbytným předpokladem pro získání dotace je pečlivý a zodpovědný přístup v&nbsp;celém průběhu realizace projektu. Elektronická administrace projektu vše výrazně usnadňuje. Elektronicky můžete vyřídit všechny monitorovací zprávy v&nbsp;průběhu realizace i&nbsp;době udržitelnosti projektu. On-line lze podávat také žádosti o&nbsp;platbu za uskutečněné části projektu, od počítače vyplníte a odešlete soupisky faktur. Vytisknete méně papíru, projedete méně benzínu a máte více času na&nbsp;jiné, důležitější věci.</p>

    <h2 class="hash">#bezchybně</h2>
    <p>Dotaci opravdu získat znamená správně vyúčtovat, co bylo jako součást projektu nakoupeno, postaveno, vylepšeno. Získat dotaci v&nbsp;plné výši znamená udělat to bezchybně. Navíc platí, že čím více chyb, tím déle proplacení peněz trvá a zvyšuje se pravděpodobnost finančních ztrát. Pokud žádost o&nbsp;platbu za projekt podáváte elektronicky prostřednictvím námi vyvinuté aplikace, nikdy tolik chyb neuděláte. Předdefinovaný elektronický formulář vám chybovat jednoduše nedovolí.</p>

    <h2 class="hash">#přehledně</h2>
    <p>Nejenže většinu potřebného ohledně projektu vyřídíte od svého stolu. Díky elektronické správě máte zároveň přehled o&nbsp;tom, co je potřeba vyřídit, doplnit nebo dodat. Víte, v&nbsp;jaké fázi vyúčtování se vaše žádost o&nbsp;platbu nachází, a dostáváte průběžné informace o&nbsp;stavu proplácení a výzvy, co je potřeba udělat. Stejný přehled má také poskytovatel dotace, což mu například dává přehled o&nbsp;tom, které žádosti o&nbsp;platbu jsou dlouho neproplacené a proč. Hlavně má ale v&nbsp;ruce nástroj pro plánování čerpání dotací.</p>
  </article>
</section>

<nav class="nav--articles">
  <a href="/vstricne.html">&laquo; Vstřícně</a>
  <a href="/">Zpět na obsah</a>
</nav>
