---
title: Průhledně
class: pruhledne
---

<section id="2-hodnoceni">
  <article>
    <h1>{{title}}</h1>
    <blockquote class="bigclaim">Hodnocení žádostí o&nbsp;dotaci je odborné, průhledné a mimo vnější vlivy</blockquote>

    <h2 class="hash">#odborně</h2>
    <p>Zakládáme si na&nbsp;odborném hodnocení žádostí o&nbsp;dotaci z&nbsp;Regionálního operačního programu Moravskoslezsko. Hodnocení provádějí naši vlastní zaměstnanci Úřadu regionální rady Moravskoslezsko, do jejichž odbornosti a kompetencí dlouhodobě investujeme tak, aby byli špičkovými profesionály ve svém oboru. Každý projekt posuzují vždy alespoň dva hodnotitelé, větší projekty s&nbsp;rozpočtem nad 50&nbsp;milionů korun tři lidé. Všechny projekty s&nbsp;rozpočtem nad 10&nbsp;milionů korun navíc zkoumají specialisté na&nbsp;finance a marketing. Na&nbsp;posouzení specifické oblastí například v&nbsp;oblasti dopravy nebo zdravotnictví si najímáme nezávislé experty. Aby žádost o&nbsp;dotaci prošla hodnocením úspěšně, musí být nejen formálně v&nbsp;pořádku, ale zejména musí prokázat, že je smysluplná. Pro tyto účely jsme s&nbsp;využitím expertů z&nbsp;vnější vyvinuli vlastní aplikaci pro posouzení analýzy nákladů a přínosů.</p>

    <h2 class="hash">#průhledně</h2>
    <p>Náš propracovaný systém hodnocení je otevřený navenek. S&nbsp;vyhlášením výzvy k&nbsp;předkládání žádostí o&nbsp;dotaci zveřejňujeme rovněž podrobná hodnotící kritéria a tabulky. Po odborném hodnocení projektů a schválení těch úspěšných zveřejňujeme seznam úspěšných i&nbsp;neúspěšných žádostí o&nbsp;dotaci. Kromě konzultační podpory při přípravě projektů poskytujeme zpětnou vazbu rovněž neúspěšným žadatelům o&nbsp;dotaci, aby mohli odstranit nedostatky, přepracovat projekt tak, aby byl smysluplnější, a případně předložit svou žádost o&nbsp;dotaci znovu.</p>

    <h2 class="hash">#mimo vnější vlivy </h2>
    <p>Hodnocení žádostí o&nbsp;dotace je přísně oddělené od konzultační činnosti v&nbsp;době přípravy projektu, stejně jako od politických a jiných vnějších vlivů, abychom zabránili střetu zájmů a pokusům o&nbsp;nekalé jednání. Na&nbsp;základě hodnocení pak projekty schvaluje Výbor Regionální rady Moravskoslezsko, složený z&nbsp;patnácti krajských zastupitelů napříč politickým spektrem. Všichni lidé zapojení do&nbsp;hodnocení a schvalování projektů respektují pravidla férové hry, jednají na&nbsp;základě etických kodexů. Za všemi našimi kroky existuje doložitelná auditní stopa.</p>
  </article>
</section>
