---
title: Společně
class: spolecne
---

<section id="5-spolecne">
  <article>
    <h1>{{title}}</h1>
    <blockquote class="bigclaim">Naše lidské bohatství &ndash; zlatě, partnersky a kompetentně</blockquote>

    <h2 class="hash">#zlatě</h2>
    <p>Tým zaměstnanců Regionální rady Moravskoslezsko jsme budovali od základů. Mohli jsme proto zavést systém a principy práce se&nbsp;zaměstnanci, které rozvíjejí jejich potenciál a jsou přínosné pro organizaci a klienty. Postupně jsme se&nbsp;rozrostli na&nbsp;90členný tým a průběžně jsme investovali do&nbsp;rozvoje vlastních lidí a zvyšování jejich kompetencí. Nastavili jsme a zavedli do&nbsp;praxe systém kompetenčních modelů a hodnocení, sdílíme společné organizační hodnoty a etický kodex. Jako vůbec první organizaci v&nbsp;Česku jsme získali zlatou úroveň mezinárodního standardu Investors in People. Standard potvrzuje, že se investice do&nbsp;zaměstnanců odrážejí ve&nbsp;vysoké kvalitě poskytovaných služeb.</p>

    <h2 class="hash">#partnersky</h2>
    <p>Po celou dobu našeho působení si udržujeme vysoký kredit a dobré jméno u&nbsp;našich klientů v&nbsp;Moravskoslezsku, partnerů v&nbsp;českém prostředí i&nbsp;těch na evropské úrovni. Stavíme na&nbsp;principu otevřené a proaktivní spolupráce, což znamená nejen nabídku pomocné ruky, ale třeba také vstřícné, individuální a zároveň férové řešení problémů, které se u&nbsp;projektů financovaných evropskými dotacemi vyskytují. Věříme, že jediná cesta, jak využít evropské prostředky smysluplně a efektivně, je cesta společná. </p>

    <h2 class="hash">#kompetentně</h2>
    <p>Pečlivým výběrem zaměstnanců a investicemi do jejich rozvoje jsme vytvořili tým profesionálů, odborníků na evropské dotace a různé fáze projektového cyklu. Vyznáme se nejen v&nbsp;hodnocení a administraci projektů, máme také specialisty na&nbsp;finance, ekonomiku, legislativu, marketing a další oblasti, které s&nbsp;evropskými projekty přímo souvisí. Protože využíváme externí odbornou pomoc pouze výjimečně, většinu agendy obstaráváme vlastními silami a umíme se rozvíjet, šetříme veřejné prostředky tam, kde jiní nakupují drahé služby zvenčí.</p>
  </article>
</section>

<nav class="nav--articles">
  <a href="/vstricne.html">&laquo; Jednoduše</a>
  <a href="/">Zpět na obsah</a>
</nav>
