---
title: Strategicky
class: strategicky
---

<section id="1-planovani">
  <article>
    <h1>{{title}}</h1>
    <blockquote class="bigclaim">Peníze z EU investujeme spolehlivě, smysluplně a včas</blockquote>

    <h2 class="hash">#včas</h2>
    <p>Zatímco jiné, zejména centrálně řízené programy a Česká republika každoročně nezvládají vyčerpat miliardy korun z evropských fondů, investujeme evropské peníze adekvátně rychle a včas vzhledem k evropským pravidlům (tzv. pravidlu n+2/3). Zatím jsme uplatnili každé euro, které se nabízelo.</p>

    <p>Základem všeho je náš strategický finanční plán. Navádí nás uvolnit s dvou až tříletým předstihem dostatečný objem prostředků na realizaci projektů. Po jejich uskutečnění a proplacení tak Evropské komisi můžeme vykázat, co každý rok požaduje.</p>

    <p>Díky aktualizaci finančního plánu a dobrému řízení nás nezaskočilo oslabení koruny ani velké úspory při výběru dodavatelů zejména velkých investic. Výsledkem je, že v kraji můžeme využít přibližně o 3 miliardy korun více na podporu dalších užitečných projektů.</p>

    <p>Ani při velkých objemech uvolněných prostředků nezapomínáme na klienty. Abychom zbytečně nepřetížili starosty, manažery projektů, zpracovatele a ani sebe, rozložili jsme čerpání evropských peněz rovnoměrně do devíti let a přijímali projekty dle zjištěné absorpce a připravenosti. Vyplatilo se.</p>

    <h2 class="hash">#spolehlivě</h2>
    <p>Zakládáme si na férovém, průhledném hodnocení projektů, které je odborné a přísně oddělené od politických a jiných vlivů. Svědomitě a pečlivě kontrolujeme veřejné zakázky a vyúčtování projektů a zároveň průběžně preventivně omezujeme možnosti příjemců nakládat s penězi EU v rozporu s čistým svědomím. Máme díky tomu pověst spolehlivého partnera, jak u příjemců v regionu, odpovědných českých orgánů, tak u Evropské komise.</p>

    <h2 class="hash">#smysluplně </h2>
    <p>Díky propracovanému systému hodnocení dáváme možnost uspět jen prospěšným a smysluplným projektům. Zároveň již dnes víme, že za peníze z EU na 100 % a více „nakoupíme“ to, co jsme plánovali, například v podobě modernějších silnic, dopravních prostředků a terminálů, cyklostezek, lépe vybavených škol, kulturních a společenských zařízení.</p>

    <p>Podporou užitečných projektů navíc umíme evropské prostředky ekonomicky zhodnotit - v průměru o 11 %. Ekonomickou přínosnost, vyjádřenou mírou ekonomického vnitřního výnosového procenta (EIRR), dokážeme měřit u projektů s rozpočtem nad 10 milionů korun, které povinně zpracovávají Cost-benefit analýzu na základě finančního přepočtu oceněných ekonomických přínosů a nákladů projektu.</p>
  </article>
</section>
