---
title: Vstřícně
class: vstricne
---

<section id="3-konzultace">
  <article>
    <h1>{{title}}</h1>
    <blockquote class="bigclaim">Klienty hýčkáme profesionálním, vstřícným a účelným poradenstvím</blockquote>

    <h2 class="hash">#profesionálně</h2>
    <p>Žadatelé o dotace a zpracovatelé projektů se mohou opřít o naše profesionální odborné poradenství. Poskytujeme zájemcům elektronické, telefonické a osobní konzultace záměrů. Osobní setkání si mohou lidé objednat online přímo ve sdíleném kalendáři konzultanta. Využitím systému pro řízení vztahů se zákazníky máme přehled o dřívějších konzultacích a víme, co koho trápí a zajímá. Dlouhodobě se nám daří poukazovat na nedostatky v projektech. Hlavně ale umíme poradit, jak na to správně – provádíme žadatele o dotace přípravou projektů tak, aby měli větší šanci dotaci získat. A když projekt v hodnocení neuspěje, jsme připraveni žadatelům o dotace osobně říci, kde se stala chyba. Školíme také odborná témata týkající se přípravy, realizace nebo proplácení projektů a pečujeme o projekty během realizace. </p>

    <h2 class="hash">#vstřícně</h2>
    <p>Jsme speciálně vyškolení pro práci s klienty. Nejenže se vyznáme ve své práci, evropských fondech a oboru, kterému se věnujeme. Prošli jsme si také školením měkkých dovedností pro jednání s klienty. Vstřícné jsou i naše informační a propagační materiály. To důležité dáváme klientům vědět vhodnou formou a včas. Jednoduše se snažíme o to, aby nám bylo rozumět a klient měl z návštěvy u nás dobrý pocit.</p>

    <h2 class="hash">#účelně</h2>
    <p>Myslet na klienty se vyplácí. Díky poradenství a doprovodnému servisu žádosti o dotaci jen zřídkakdy neprojdou hodnocením pro formální nedostatky. O přidělení podpory tak rozhoduje to, jak je projekt smysluplný. Díky dobrému plánování, cílené práci s klienty a informační podpoře je po dotacích z ROP Moravskoslezsko adekvátní, přibližně dvojnásobná poptávka. To nám umožňuje vybrat k podpoře jen ty opravdu dobré záměry. Zároveň se neplýtvá penězi za projekty, které dobré nejsou, nebo se nemají šanci uskutečnit s evropskou podporou.</p>


    + schéma:
profesionální poradenství + informační servis + vstřícná tvář + systém řízení vztahů se zákazníky
=)) méně chyb v žádostech o dotaci
=)) spokojený klient
=)) ideální převis poptávky po dotacích

  </article>
</section>
