---
title: Vstřícně
class: vstricne
---

<section id="3-konzultace">
  <article>
    <h1>{{title}}</h1>
    <blockquote class="bigclaim">Klienti se mohou opřít o&nbsp;profesionální, vstřícné a účelné poradenství</blockquote>

    <h2 class="hash">#profesionálně</h2>
    <p>Žadatelé o&nbsp;dotace a zpracovatelé projektů se mohou opřít o&nbsp;naše profesionální odborné poradenství. Zájemcům poskytujeme elektronické, telefonické a osobní konzultace jejich záměrů. Osobní setkání si mohou lidé objednat online přímo ve&nbsp;sdíleném kalendáři konzultanta. Využitím systému pro řízení vztahů se zákazníky máme přehled o&nbsp;dřívějších konzultacích a víme, co koho trápí a zajímá. Dlouhodobě se nám daří poukazovat na&nbsp;nedostatky v&nbsp;projektech. Hlavně ale umíme poradit, jak na&nbsp;to správně &ndash; provádíme žadatele o&nbsp;dotace přípravou projektů tak, aby měli větší šanci dotaci získat. A&nbsp;když projekt v&nbsp;hodnocení neuspěje, jsme připraveni žadatelům o&nbsp;dotace osobně říci, kde se stala chyba. Školíme také odborná témata týkající se přípravy, realizace nebo proplácení projektů a pečujeme o projekty během realizace.</p>

    <h2 class="hash">#vstřícně</h2>
    <p>Jsme speciálně vyškolení pro práci s&nbsp;klienty. Nejenže se vyznáme ve své práci, evropských fondech a oboru, kterému se věnujeme. Prošli jsme si také školením měkkých dovedností pro jednání s&nbsp;klienty. Vstřícné jsou i&nbsp;naše informační a propagační materiály. To důležité dáváme klientům vědět vhodnou formou a včas. Jednoduše se snažíme o&nbsp;to, aby nám bylo rozumět a klient měl z&nbsp;návštěvy u&nbsp;nás dobrý pocit.</p>

    <h2 class="hash">#účelně</h2>
    <p>Myslet na&nbsp;klienty se vyplácí oběma stranám. Díky dobře nastavenému systému, ale také poradenství a doprovodnému informačnímu servisu žádosti o&nbsp;dotaci jen zřídkakdy neprojdou hodnocením pro formální nedostatky. O&nbsp;přidělení podpory tak rozhoduje to, jak je projekt smysluplný. Díky dobrému plánování, cílené práci s&nbsp;klienty a informační podpoře je po dotacích z&nbsp;ROP Moravskoslezsko dlouhodobě adekvátní, přibližně dvojnásobná poptávka. To nám umožňuje vybrat k&nbsp;podpoře jen ty opravdu dobré záměry. Zároveň se neplýtvá penězi za projekty, které dobré nejsou, nebo nemají šanci se uskutečnit s&nbsp;evropskou podporou.</p>
  </article>
</section>

<nav class="nav--articles">
  <a href="/pruhledne.html">&laquo; Průhledně</a>
  <a href="/">Zpět na obsah</a>
</nav>
