<header role="banner">
  <h1>Jak na to</h1>
  <p> Jak úspěšně a zodpovědně spravovat a investovat peníze z&nbsp;evropských fondů.</p>

  {{> menu }}


  <section id="uvod">
    <h3>O projektu</h3>
    <p>V čem je tajemství investování peněz z EU, že to někteří zvládají lépe, jiní hůře, někteří špatně nebo vůbec?</p>
    <p>Jsme <a href="www.rr-moravskolezsko.cz">Regionální rada Moravskoslezsko</a> a&nbsp;zodpovídáme za uplatnění 20&nbsp;miliard korun z&nbsp;evropských fondů v&nbsp;Regionálním operačním programu, které jsou určené na&nbsp;rozvoj Moravskoslezského kraje.</p>
    <p>Naši organizaci a financování projektů penězi z&nbsp;EU jsme postavili na otevřeném, průhledném a&nbsp;funkčním systému pro výběr, proplácení a kontrolu podpořených projektů. Postavili jsme ji na&nbsp;lidech, kteří naplňují vizi, strategický plán a&nbsp;cíle, kteří sdílejí společné principy a&nbsp;hodnoty. Postavili jsme ji na&nbsp;budování důvěry a&nbsp;otevřeném přístupu k&nbsp;partnerům a&nbsp;klientům.</p>
    <p>Máme za sebou osmiletou zkušenost s&nbsp;řízením programu, dobře známe prostředí veřejné správy v&nbsp;ČR i&nbsp;zahraničí a rádi se s&nbsp;vámi podělíme o&nbsp;naši dobrou praxi a přístup k&nbsp;financování projektů evropskými penězi.</p>
    <p>Projděte si v&nbsp;několika bodech hlavní věcná témata, pro které si myslíme, že to s&nbsp;evropskými penězi umíme dobře. </p>
  </section>
</header>
