<nav role="nav">
  <a href="index.html"><span class="menu-bublina">0</span> Úvod</a>
  <a href="strategicky.html"><span class="menu-bublina">1</span> Strategicky</a>
  <a href="pruhledne.html" class="disabled"><span class="menu-bublina">2</span> Průhledně</a>
  <a href="vstricne.html" class="disabled"><span class="menu-bublina">3</span> Vstřícně</a>
  <a href="jednoduse.html" class="disabled"><span class="menu-bublina">4</span> Jednoduše</a>
  <a href="lidsky.html" class="disabled"><span class="menu-bublina">5</span> Lidsky</a>
</nav>
