<nav role="nav">
  <div class="prozirave">
    <a href="prozirave.html">
     <span class="menu-bublina">1</span> Prozíravě
    </a>

    <blockquote class="bigclaim">Peníze z EU investujeme spolehlivě, smysluplně a včas</blockquote>
    <a href="prozirave.html" class="button">Přečíst &hellip;</a>
  </div>
  <div>
    <a href="pruhledne.html" class="disabled"><span class="menu-bublina">2</span> Průhledně</a>
    <blockquote class="bigclaim">&nbsp;</blockquote>
  </div>
  <div>
    <a href="vstricne.html" class="disabled"><span class="menu-bublina">3</span> Vstřícně</a>
    <blockquote class="bigclaim">&nbsp;</blockquote>
  </div>
  <div>
    <a href="jednoduse.html" class="disabled"><span class="menu-bublina">4</span> Jednoduše</a>
    <blockquote class="bigclaim">&nbsp;</blockquote>
  </div>
  <div>
    <a href="spolecne.html" class="disabled"><span class="menu-bublina">5</span> Společně</a>
    <blockquote class="bigclaim">&nbsp;</blockquote>
  </div>
</nav>
