<nav role="nav">
  <div class="prozirave">
    <a href="prozirave.html" class="bod">
     <span class="menu-bublina">1</span> Prozíravě
    </a>

    <blockquote class="bigclaim">Peníze z EU investujeme spolehlivě, smysluplně a včas</blockquote>
    <a href="prozirave.html" class="button">Přečíst &hellip;</a>
  </div>
  <div class="pruhledne">
    <a href="pruhledne.html" class="bod"><span class="menu-bublina">2</span> Průhledně</a>
    <blockquote class="bigclaim">Hodnocení žádostí o dotaci je odborné, průhledné a mimo vnější vlivy</blockquote>
    <a href="pruhledne.html" class="button">Přečíst &hellip;</a>
  </div>
  <div class="vstricne">
    <a href="vstricne.html" class="bod"><span class="menu-bublina">3</span> Vstřícně</a>
    <blockquote class="bigclaim">Klienti se mohou opřít o&nbsp;profesionální, vstřícné a účelné poradenství</blockquote>
    <a href="vstricne.html" class="button">Přečíst &hellip;</a>
  </div>
  <div class="jednoduse">
    <a href="jednoduse.html" class="bod"><span class="menu-bublina">4</span> Jednoduše</a>
    <blockquote class="bigclaim">Na dotace elektronicky &ndash; méně papírování, bezchybně, přehledně</blockquote>
    <a href="jednoduse.html" class="button">Přečíst &hellip;</a>
  </div>
  <div class="spolecne">
    <a href="spolecne.html" class="bod"><span class="menu-bublina">5</span> Společně</a>
    <blockquote class="bigclaim">Bohatství v lidech &ndash; cílevědomě, kompetentně a společně</blockquote>
    <a href="spolecne.html" class="button">Přečíst &hellip;</a>
  </div>
</nav>
