<nav role="nav">
  <a href="prozirave.html" class="prozirave"><span class="menu-bublina">1</span> Prozíravě

  <blockquote class="homeclaim">Peníze z EU investujeme spolehlivě, smysluplně a včas</blockquote>
  </a>
  <a href="pruhledne.html" class="disabled"><span class="menu-bublina">2</span> Průhledně
    <blockquote class="homeclaim">Peníze z EU investujeme spolehlivě, smysluplně a včas</blockquote>
  </a>
  <a href="vstricne.html" class="disabled"><span class="menu-bublina">3</span> Vstřícně
    <blockquote class="homeclaim">Peníze z EU investujeme spolehlivě, smysluplně a včas</blockquote>
  </a>
  <a href="jednoduse.html" class="disabled"><span class="menu-bublina">4</span> Jednoduše
    <blockquote class="homeclaim">Peníze z EU investujeme spolehlivě, smysluplně a včas</blockquote>
  </a>
  <a href="spolecne.html" class="disabled"><span class="menu-bublina">5</span> Společně
    <blockquote class="homeclaim">Peníze z EU investujeme spolehlivě, smysluplně a včas</blockquote>
  </a>
</nav>
