header {
  color: #f0f0f0;
  background-color: $dark-gray;

  h1 {
    font-size: 3.5rem;
  }

  p {
    font-style: italic;
  }

  a {
    color: $base-link-color;
  }
}

nav {
  margin-bottom: 2rem;

  a {
    text-decoration: none;
    display: block;
    padding: 1.5rem 0em 0em 0em;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }

    &.disabled {
      color: $almost-dark-gray;
      cursor: pointer;

      &.hover {
        color: inherit;
      }

      span {
        background-color: $almost-dark-gray;
      }
    }

    span {
      margin-right: 0.5rem;
      display: inline-block;
      background-color: $base-link-color;
      border-radius: 50%;
      color: #FFF;
      font-weight: bold;
      padding: 0.2rem 1rem 0.3rem 1rem;
    }
  }
}

a.button {
  display: inline-block;
  margin: 0;
  color: #fff;
  background-color: rgba(206, 35, 64, 0.7);

  padding: 0.5em 1em;
  border-radius: 7px;

  &:hover {
    background-color: #fff;
    color: $base-link-color;
    text-decoration: none;
  }
}

.uvodka .container--uvodka {
  background-color: $dark-gray;
  color: #fff;

  header {
    background-color: rgba(206, 35, 64, 0.7);

    h1 {
      font-size: 2em;
      margin: 0;

      strong {
        font-weight: normal;
      }
    }
  }

  nav {
    margin-bottom: 0;

    div {
      padding: 1em;
      flex-grow: 1;
      flex-shrink: 1;

      //background: no-repeat scroll right -4em center / cover $dark-gray;
      background: no-repeat right -876px top 0px transparent;;

      &:hover {
        background-position: right -96px top 0px;
      }

      &.prozirave {
        background-image: url('/images/vge-web3.jpg');
      }

    .bigclaim {
      color: #fff;
      font-size: 2em;

      &:before {
        color: $base-link-color;
        font-size: 86px;
        height: 40px;
      }
    }
    }
  }

}
