header {
  color: #f0f0f0;
  background-color: $dark-gray;

  h1 {
    font-size: 3.5rem;
  }

  p {
    font-style: italic;
  }
  
  a {
    color: $base-link-color;
  }
}

nav {
  margin-bottom: 2rem;

  a {
    text-decoration: none;
    display: block;
    padding: 1.5rem 0em 0em 0em;
    font-size: 1.5rem;
    font-weight: 300;

    &:hover {
      color: $base-link-color;
    }

    &.disabled {
      color: #586474;
      cursor: pointer;

      &.hover {
        color: inherit;
      }

      span {
        background-color: #586474;
      }
    }

    span {
      margin-right: 0.5rem;
      display: inline-block;
      background-color: $base-link-color;
      border-radius: 50%;
      color: #FFF;
      font-weight: bold;
      padding: 0.2rem 1rem 0.3rem 1rem;
    }
  }
}
