header {
  color: #f0f0f0;
  background-color: $dark-gray;

  h1 {
    font-size: 3.5rem;
  }

  p {
    font-style: italic;
  }

  a {
    color: $base-link-color;
  }
}

nav {
  margin-bottom: 2rem;

  a {
    text-decoration: none;
    display: block;
    padding: 1.5rem 0em 0em 0em;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;

    &:hover {
      color: #fff;
    }

    &.disabled {
      color: $almost-dark-gray;
      cursor: pointer;

      &.hover {
        color: inherit;
      }

      span {
        background-color: $almost-dark-gray;
      }
    }

    span {
      margin-right: 0.5rem;
      display: inline-block;
      background-color: $base-link-color;
      border-radius: 50%;
      color: #FFF;
      font-weight: bold;
      padding: 0.2rem 1rem 0.3rem 1rem;
    }
  }
}

.uvodka .container--uvodka {
  background-color: $dark-gray;
  color: #fff;

  header {
    background-color: rgba(206, 35, 64, 0.7);

    h1 {
      font-size: 2em;
      margin: 0;

      strong {
        font-weight: normal;
      }
    }
  }

  nav {
    margin-bottom: 0;

    a.bod {
      padding-top: 0;
    }

    div {
      padding: 2rem;
      position: relative;

      @include transition(flex-grow 0.5s ease-in-out);

      //background: no-repeat scroll right -4em center / cover $dark-gray;
      background: no-repeat right -960px top -130px transparent;;

      &:hover {
        background-position: right -0px top -130px;
        flex-grow: 3;
      }

      &.prozirave {
        background-image: url('/images/vge-dark.jpg');
      }

      &.pruhledne {
        background-image: url('/images/msm-dark.jpg');
      }

      .bigclaim {
        color: #fff;
        font-size: 2em;

        &:before {
          color: $base-link-color;
          font-size: 86px;
          height: 40px;
        }
      }

      .advent {
        font-size: 2em;
        font-weight: 300;
        color: $medium-gray;

        margin-top: 3rem;

        em {
          color: $base-link-color;
        }
      }
    }
  }

}
