.strategicky main {
  background-color: #e2e2e2;

  @include media($medium-screen) {
    background: url('/images/vge-light.jpg') no-repeat scroll right -7em center #e2e2e2;
    background-size: cover;
  }
}

.pruhledne main {
  background-color: #f1f1f1;

  @include media($medium-screen) {
    background: url('/images/msm-light.jpg') no-repeat scroll right -7em center #f1f1f1;
    background-size: cover;
  }
}

.vstricne main {
  background-color: #f1f1f1;

  @include media($medium-screen) {
    background: url('/images/khl-light.jpg') no-repeat scroll right -7em center #f1f1f1;
    background-size: cover;
  }
}

.jednoduse main {
  background-color: #f1f1f1;

  @include media($medium-screen) {
    background: url('/images/jch-light.jpg') no-repeat scroll right -7em center #f1f1f1;
    background-size: cover;
  }
}

main article p, main article h1, main article h2, main article h3 {
  max-width: 35em;
}

main article .galerie.fullw {
  text-align: center;
}

main article.disabled {
  color: #ddd;
}

section.uvod {
  max-width: 47em;
  margin: 0 auto;
}
