.strategicky main {
  background-color: #e2e2e2;

  @include media($medium-screen) {
    background: url('/images/vge-web2.jpg') no-repeat scroll right -7em center #e2e2e2;
    background-size: cover;
  }  
}

main article {
  max-width: 35em;
}


main article.disabled {
  color: #999;
}